html
  head
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    #game
        #score-board
          table
            tr
              td(id='red-team-name')
                .container
                  ="Red"
              td(id='red-round-wins')
                ="0"
              td(id='red-hand-wins')
                ="0"
            tr
              td(id='black-team-name')
                .container
                  ="Black"
              td(id='black-round-wins')
                ="0"
              td(id='black-hand-wins')
                ="0"

        div(id='player-'+((playerId+1)%4+1) class="player-loc-1 player-holder text-center")
          ="Waiting for a player.."
        #trump-display
          div(class="trumps-dis")


        div(id='player-'+((playerId+2)%4+1) class="player-loc-2 player-holder text-center")
          ="Waiting for a player.."

        div(class='table')
          #tableoo
          div(id="message" class="message-user")
            h1(id='#title')
              ="Thanks for checking out :)"
            p(id="description")
              ="You friends can follow this link to this game:"
              br
              ="https://apps.facebook.com/1591263741108585/?gameId="+gameId
            #info
            #buttons-ok-only
            #buttons-all
              form(action="/")
                input(type="hidden" name="gameId" value="new")
                input(type="submit" value="Create")
              form(action="/")
                input(type="hidden" name="gameId" value="join")
                input(type="submit" value="Join") 

        div(id='player-'+((playerId)%4+1) class="player-loc-3 player-holder text-center")
          ="Waiting for a player.."

      .row
        div(id='player-'+playerId class="player-loc-4 local-player-holder text-center")
          ="Waiting for a player.."


    include game.html

    =gameId + " " + playerId
    script(id="template-table" type="x-tmpl-mustache")
      #cards
        div(id='t-card-'+((playerId+2)%4+1) class="card table-card-1")
        div(id='t-card-'+((playerId+1)%4+1) class="card table-card-2")
        div(id='t-card-'+playerId class="card table-card-3")
        div(id='t-card-'+((playerId)%4+1) class="card table-card-4")
      include trumphs.html

    script.
      var omiGameConf = !{JSON.stringify({gameId: gameId, playerId: playerId})}
