
<!--templates-->
<script id="template-card" type="x-tmpl-mustache">
  <img src="{{url}}" class="img-card">
</script>

<script id="template-player" type="x-tmpl-mustache">
  <div id='border'></div>
  <label class="player-name">{{name}}</label>
  <div id='cards'></div>
</script>

<!--end of templates-->

<!--thirdparty libs-->
<script src="//connect.facebook.net/en_US/sdk.js"></script>
<script src="javascripts/thirdparty/mustache.js"></script>
<script src="javascripts/thirdparty/socket.io-1.1.0.js"></script>
<!--end of thirdparty libs-->

<script src="javascripts/fb-connect.js"></script>
<script data-main="javascripts/app.js" src="javascripts/require.js"></script>