html
  head
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    #game
        #score-board
          table
            tr
              td(id='red-team-name')
                ="Red"
              td(id='red-round-wins')
                ="0"
              td(id='red-hand-wins')
                ="0"
            tr
              td(id='black-team-name')
                ="Black"
              td(id='black-round-wins')
                ="0"
              td(id='black-hand-wins')
                ="0"
            td
        div(id='player-'+((playerId+1)%4+1) class="player-loc-1 player-holder text-center")
          player 1 goes here

        div(id='player-'+((playerId+2)%4+1) class="player-loc-2 player-holder text-center")
          player 2 goes here

        div#table-1.table

        div(id='player-'+((playerId)%4+1) class="player-loc-3 player-holder text-center")
          player 4 goes here

      .row
        div(id='player-'+playerId class="player-loc-4 local-player-holder text-center")
          player 3 goes here

    include game.html

    script(id="template-table" type="x-tmpl-mustache")
      #cards
        div(id='t-card-'+((playerId+2)%4+1) class="card table-card-1")
        div(id='t-card-'+((playerId+1)%4+1) class="card table-card-2")
        div(id='t-card-'+playerId class="card table-card-3")
        div(id='t-card-'+((playerId)%4+1) class="card table-card-4")
      include trumphs.html

    script.
      var omiGameConf = !{JSON.stringify({gameId: gameId, playerId: playerId})}
