

    <div id="trumphs-pick" class="message-user">
      <p>Pick Trumphs</p>
      <button class="trumph-button">Clubs</button>
      <button class="trumph-button">Hearts</button>
      <button class="trumph-button">Spades</button>
      <button class="trumph-button">Diamonds</button>
    </div>

    <divd id="message" class="message-user">
      Thanks for playing :)
    </div>
    <!--templates-->
    <script id="template-card" type="x-tmpl-mustache">
      <img src="{{url}}" class="img-card">
    </script>

    <script id="template-player" type="x-tmpl-mustache">
      <lable>{{name}}</lable>
      <div id='cards'></div>
    </script>

    <script id="template-table" type="x-tmpl-mustache">
      <lable>{{name}}</lable>
      <div id='cards'></div>
    </script>
    <!--end of templates-->

    <!--thirdparty libs-->
    <script src="javascripts/thirdparty/mustache.js"></script>
    <!--end of thirdparty libs-->

    <script data-main="javascripts/app.js" src="javascripts/thirdparty/socket.io-1.1.0.js"></script>
    <script data-main="javascripts/main-built.js" src="javascripts/require.js"></script>

