<div id="trumphs-picker">
  <link href='//fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

  <style>

    #trumphs-picker{
      visibility: hidden;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .trump-pick-invite{
      padding: 10px;
      text-align: center;
      margin: 0 auto; 
      font: bold 30px/40px Courgette, cursive, sans-serif;
    }

    .kind-container{
      margin: 0 auto;
      width: 300px;
    }

    .trumps-pick {
      margin: 5px;
      width: 138px;
      background-color: rgb(237, 223, 223);
      border-color: black;
      border-width: 2px;
      padding: 10px 20px;
      border-radius: 30px;
      font: bold 15px/20px Courgette, cursive, sans-serif
    }

    .trumps-pick #kind {
      display: none;
    }

    .trumps-pick:before {
      margin-right: 0px;
      float: left;
      content: "";
      background-repeat: no-repeat;
      background-size: 40px 40px;
      width: 20px;
      height: 20px;
      background-image: url(/images/kinds.png);
    }

    .trumps-pick-diamonds:before {
      background-position: 0 -20px;
    }

    .trumps-pick-spades:before {
      background-position: 0 0px;
    }

    .trumps-pick-clubs:before {
      background-position: -20px -20px ;
    }

    .trumps-pick-hearts:before {
      background-position: -20px 0;
    }

    .trumps-pick-diamonds:hover{
      background-color: rgb(58, 53, 53);
      color: rgb(237, 223, 223);
    }

    .trumps-pick-spades:hover{
      background-color: rgb(208, 63, 68);
      color: rgb(237, 223, 223);
    }

    .trumps-pick-clubs:hover{
      background-color: rgb(208, 63, 68);
      color: rgb(237, 223, 223);
    }

    .trumps-pick-hearts:hover{
      background-color: rgb(58, 53, 53);
      color: rgb(237, 223, 223);
    }
  </style>
  <div>
    <div class="trump-pick-invite">
    Please pick trumps
    </div>

    <div class="kind-container">

      <button class="trumph-button trumps-pick trumps-pick-spades">
        <div id="kind">Spades</div>
        Spades
      </button>

      <button class="trumph-button trumps-pick trumps-pick-hearts">
        <div id="kind">Hearts</div>
        Hearts
      </button>

    </div>

    <div class="kind-container">
      <button class="trumph-button trumps-pick trumps-pick-clubs">
        <div id="kind">Clubs</div>
        Clubs
      </button>

      <button class="trumph-button trumps-pick trumps-pick-diamonds">
        <div id="kind">Diamonds</div>
        Diamonds
      </button>

    </div>
  </div>
</div>