body {
  padding: 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img-card {
  height: 100%;
  width: 100%;
}

.card{
  display: inline-block;
  height: 70%;
  width: 12.5%;
}

.player-holder{
  background: antiquewhite;
  height: 20%;
}

.local-player-holder{
  background: antiquewhite;
  height: 40%;
}

.player{
  background: antiquewhite;
}

.game-table{
  background: gray;
  height: 40%;
}

.message-user{
  width: 40%;
  visibility: hidden;
  position: absolute;
  left: 30%;
  top: 10%;
  background-color: aquamarine;
}
