body {
  padding: 3%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img-card {
  height: 110;
  width: 70;
}

.card{
  float:left
}

.player{
  background: antiquewhite;
  padding: 15px;
}

.game-table{
  background: gray;
  padding: 15px;
}

#trumphs-pick {
  width: 40%;
  height: 20%;
  visibility: hidden;
  position: absolute;
  left: 30%;
  top: 20%;
  background-color: aquamarine;
}
