body {
  padding: 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img-card {
  height: 100%;
  width: 100%;
}

.card{
  display: inline-block;
  height: 50%;
  width: 12.5%;
}

.player-holder{
  background: antiquewhite;
  height: 20%;
}

.local-player-holder{
  background: antiquewhite;
  height: 40%;
}

.player{
  background: antiquewhite;
}

.game-table{
  background: gray;
  height: 40%;
}

.message-user{
  width: 40%;
  visibility: hidden;
  position: absolute;
  left: 30%;
  top: 10%;
  background-color: aquamarine;
}

.table-card-1{
  position: absolute;
  top: 30%;
  left: 34.375%;
}

.table-card-2{
  position: absolute;
  top: 0%;
  left: 41.625%;
}

.table-card-3{
  position: absolute;
  top: 50%;
  left: 46.875%;
}

.table-card-4{
  position: absolute;
  top: 20%;
  left: 50%;
}
